/*------------------------------------------------------------------
25. pageFooter / .pageFooter
-------------------------------------------------------------------*/
.pageFooter{
	p{
		margin-bottom: 0;
	}
	a{
		color: $red;
		transition: color 0.35s ease;
		&:hover{
			color: $gray-900;
		}
	}
}