/*------------------------------------------------------------------
1. pageHeader / .pageHeader
-------------------------------------------------------------------*/
.pageHeader{
	left: 0;
	right: 0;
	z-index: 1;
}
/*------------------------------------------------------------------
2. logo / .logo
-------------------------------------------------------------------*/
.logo{
	max-width: 157px;
}